.menu-container {
  .menu-header {
    background-color: #12a583;
    position: fixed;
    z-index: 9999;
    width: 100%;
    .menu-header-pad {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .burger-icon {
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 100%;
          width: 100%;
          &:active {
            opacity: 0.5;
          }
        }
      }
      .name-tagline-div {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .restaurant-title {
          color: #ffffff;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 16px;
          text-align: center;
        }
        .tagline {
          color: #ffffff;
          font-size: 11px;
          font-weight: 200;
        }
      }
      .right-div {
        position: relative;
        padding: 5px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:active {
          background-color: #0b634e;
        }
        .item-count {
          position: absolute;
          padding: 4px;
          border-radius: 50%;
          color: #ffffff;
          background-color: red;
          font-size: 11px;
          top: 0px;
          left: 25px;
        }
      }
    }
  }
  .menu-content {
    padding-top: 60px;
    .menu-bg-container {
      .slideshow-container {
        position: relative;
        padding: 10px;
        .arrow {
          padding: 10px;
          background-color: #00000070;
          top: 40%;
          position: absolute;
          &.prev {
            left: 0%;
          }
          &.next {
            right: 0%;
          }
        }
      }
      img {
        height: 200px;
        width: 100%;
        object-fit: contain;
      }
    }
    .menu-details {
      .category-container {
        padding: 15px;
        background-color: #d5e9fb6b;
        overflow-x: auto;
        padding: 15px;
        background-color: rgba(213, 233, 251, 0.42);
        overflow: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .cat-name {
          display: flex;
          -webkit-tap-highlight-color: transparent;
          div {
            color: #113448;
            padding: 7px 10px;
            border-radius: 50px;
            font-size: 14px;
            font-weight: 400;
            margin-right: 10px;
            width: max-content;
            &.active {
              background-color: #12a583;
              color: white;
            }
          }
        }
      }
      .filter-container {
        padding: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border: 1px solid #113448;
        margin: 10px 5px;
        border-radius: 10px;
        .form-field{
          width: 100%;
        }
      }
      .recipe-container {
        padding: 10px;
        .recipe-item {
          display: flex;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(17, 52, 72, 0.13);
          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }
          .recipe-image-container {
            height: 90px;
            width: 110px;
            margin-right: 10px;
            min-width: 110px;
            border-radius: 10px;
            padding: 5px;
            border: 1px solid;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
              border-radius: 10px;
            }
          }
          .recipe-details {
            padding: 5px;
            display: flex;
            flex-direction: column;
            width: calc(100% - 10px);
            .recipe-name-container {
              display: flex;
              align-items: center;
              margin-bottom: 5px;
              .img-cotainer {
                display: flex;
                align-items: center;
                img {
                  height: 12px;
                  width: 12px;
                  margin-right: 7px;
                }
                .jain-icon {
                  font-size: 14px;
                  font-weight: 400;
                  color: #14bf98;
                }
              }
              h5 {
                color: #113448;
                font-size: 14px;
                font-weight: 500;
                margin-right: 10px;
              }
            }
            span.price {
              color: #14bf98;
              margin-bottom: 5px;
              font-weight: 400;
              font-size: 14px;
            }
            p {
              margin: 0;
              font-size: 14px;
              color: #113448;
              font-weight: 200;
              margin-bottom: 10px;
            }
            .recipe-count-container {
              display: flex;
              align-items: center;
              input {
                padding: 5px 10px;
                width: 30px;
                margin: 0px 10px;
              }
              span {
                width: 20px;
                height: 20px;
                background: #d6d6d6;
                border-radius: 4px;
                padding: 5px;
                border: 1px solid #ddd;
                display: flex;
                align-items: center;
                justify-content: center;
                &:active {
                  background: #ffffff;
                }
              }
            }
          }
        }
      }
    }
  }
  .pop-up {
    .pop-up-content {
      &.order-container {
        display: flex;
        overflow: auto;
        flex-direction: column;
        .order-item {
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          padding: 10px;
          border-bottom: 1px solid #14bf98;
          justify-content: space-between;
          .recipe-detail {
            display: flex;
            align-items: center;
            h5 {
              color: #113448;
              font-size: 14px;
              font-weight: 500;
              margin-right: 10px;
              text-align: left;
            }
            .img-cotainer {
              display: flex;
              align-items: center;
              img {
                height: 12px;
                width: 12px;
                margin-right: 7px;
              }
              .jain-icon {
                font-size: 14px;
                font-weight: 400;
                color: #14bf98;
              }
            }
          }
          span {
            color: black;
          }
          &:last-child {
            margin-bottom: 10px;
            border-bottom: none;
          }
        }
      }
      .detail-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        h4 {
          color: #113448;
          font-size: 16px;
          padding: 0px;
          margin-bottom: 10px;
        }
        p {
          margin: 0;
          font-size: 14px;
          color: black;
          font-weight: 400;
          margin-bottom: 10px;
          text-align: left;
        }
        .item-container {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          span {
            padding: 5px 10px;
            background-color: #14bf98;
            color: #fff;
            border-radius: 20px;
            margin: 0px 10px 10px 0px;
            font-size: 12px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
  }
}

.restaurant-info-container {
  padding: 10px;
  .logo-container {
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }
  .contact-details {
    .contact-item {
      display: flex;
      align-items: center;
      h3 {
        color: white;
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: 400;
        margin-right: 10px;
      }
      h5 {
        a {
          color: white;
          font-weight: 400;
          font-size: 14px;
          padding: 0;
          text-decoration: underline;
        }
      }
    }
  }
}

// Variables
$bar-color: #fff;
$ball-color: #fff;
$bg-color: #14bf98;

html {
  height: 100%;
}
body {
  height: 100%;
}

.loader-container {
  height: 100vh;
  background: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .loader {
    position: relative;
    width: 75px;
    height: 100px;
    margin-bottom: 10px;
    &::before {
      content: none;
    }
    &__bar {
      position: absolute;
      bottom: 0;
      width: 10px;
      height: 50%;
      background: $bar-color;
      transform-origin: center bottom;
      box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          left: ($i - 1) * 15px;
          transform: scale(1, $i * 0.2);
          animation: barUp#{$i} 4s infinite;
        }
      }
    }

    &__ball {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 10px;
      height: 10px;
      background: $ball-color;
      border-radius: 50%;
      animation: ball 4s infinite;
    }
  }
  .powered-by-text {
    h5 {
      color: #ffffff;
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
