.home-page {
  .hamburger .line {
    width: 30px;
    height: 5px;
    background-color: #113448;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  #hamburger-9 {
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  #hamburger-9.is-active {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #hamburger-9:before {
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    top: calc(50% - 25px);
    left: calc(50% - 26px);
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  #hamburger-9.is-active:before {
    border: 5px solid #113448;
  }

  #hamburger-9.is-active .line {
    width: 35px;
  }

  #hamburger-9.is-active .line:nth-child(2) {
    opacity: 0;
  }

  #hamburger-9.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
  }

  #hamburger-9.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
  }

  .mr-20 {
    margin-right: 20px;
  }
  .green-btn {
    display: inline-block;
    padding: 1.1875rem 1.875rem 1.1875rem 1.875rem;
    border: 0.125rem solid #14bf98;
    border-radius: 0.25rem;
    background-color: #14bf98;
    color: #fff;
    font: 700 0.75rem/0 "Montserrat", sans-serif;
    text-decoration: none;
    transition: all 0.2s;
    &:hover {
      color: #14bf98;
      background-color: #ffffff;
    }
  }
  .header-area {
    margin-bottom: 100px;
    .navbar-area {
      padding: 10px;
      .container {
        .row {
          .col-lg-12 {
            .navbar {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .hamburger {
                display: none;
              }
              .sub-menu-bar {
                transition: height 0.3s ease-in-out;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
              }
            }
          }
        }
      }
    }
    #home {
      .container {
        .row {
          .header-hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .header-hero-image {
            text-align: center;
          }
        }
      }
    }
  }
  #features {
    padding: 0px 40px;
    .section-head {
      .section-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .section-body {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      .feature-item {
        width: 25%;
        .single-services {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          .services-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
        }
      }
    }
  }
  .about-area {
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    .section-body {
      .about-image {
        img {
          width: 50rem;
          height: 30rem;
        }
      }
    }
  }
  #facts {
    padding: 0px 40px;
    margin-bottom: 50px;
    display: flex;
    .part-one {
      .video-content {
        .video-wrapper {
          .video-image {
            img {
              height: 30rem;
            }
          }
        }
      }
    }
    .part-two {
      .counter-wrapper {
        .no-gutters {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          .col-4 {
            width: 33%;
            .counter-items {
              position: absolute;
              left: 27px;
              top: 23px;
              display: flex;
              flex-direction: column;
              width: 100px;
              align-items: center;
            }
          }
        }
      }
    }
  }
  #plans {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .section-head {
    }
    .section-body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      .card {
        width: calc(25% - 10px);
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
          width: 25%;
        }
        .card-body {
          border-radius: 10px;
          padding: 5px;
          border: 1px solid black;
          .card-title {
            border-bottom: 1px solid black;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  #brands {
    margin-bottom: 50px;
    .section-head {
      .section-title {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .section-body {
      display: flex;
      align-items: center;
      justify-content: center;
      .single-logo {
        max-width: 200px;
        max-height: 200px;
        margin-right: 50px;
        &:last-child {
          margin-right: 0px;
        }
        a {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  #upcoming {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    .section-head {
    }
    .section-body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .single-testimonial {
        width: calc(33% - 10px);
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
        .testimonial-image {
          img {
            width: 20rem;
            height: 10rem;
          }
        }
        .testimonial-text {
          h6 {
            text-align: center;
          }
        }
      }
    }
  }
  #blog {
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .section-head {
      margin-bottom: 20px;
    }
    .section-body {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .single-blog {
        width: calc(33% - 20px);
        margin-right: 20px;
        &:last-child {
          margin-right: 0px;
        }
        .blog-image {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 13rem;
            height: 10rem;
          }
        }
      }
    }
  }
  #footer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    .part-one {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      .subscribe-area {
        max-width: 80%;
        padding: 30px;
        -webkit-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
        -moz-box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
        box-shadow: 0px 0px 18px 0px rgba(50, 77, 215, 0.14);
        border-radius: 10px;
        background-color: #fff;
        .subscribe-content {
          margin-bottom: 20px;
        }
      }
    }
    .part-two {
      display: flex;
      flex-wrap: wrap;
      .footer-about{
        margin-right: 30px;
        .text{
          width: 250px;
        }
      }
      .footer-contact{
        margin-right: 30px;
        li{
          width: 200px;
        }
      }
    }
    .container {
      .subscribe-container {
      }
    }
  }

  /* Large desktop */
  @media (min-width: 1200px) {
  }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {
  }

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
  }

  /* Landscape phones and down */
  @media (max-width: 480px) {
    .header-area {
      margin-bottom: 50px;
      .navbar-area {
        padding: 10px;
        .container {
          .row {
            .col-lg-12 {
              .navbar {
                .hamburger {
                  display: block;
                }
                .sub-menu-bar {
                  visibility: hidden;
                  height: 0;
                  ul {
                    flex-direction: column;
                    li {
                      padding: 5px 0px;
                      border-bottom: 1px solid #c5c5c5;
                      width: 100%;
                      text-align: center;
                      &:last-child {
                        border-bottom: none;
                      }
                    }
                  }
                  &.active {
                    visibility: visible;
                    height: 300px;
                  }
                }
                .navbar-btn {
                  display: none;
                }
              }
            }
          }
        }
      }
      #home {
        padding: 0px 10px;
        .row {
          .header-hero-content {
            text-align: center;
          }
        }
      }
    }
    #brands {
      margin-bottom: 30px;
      .section-body {
        flex-direction: column;
        .single-logo {
          margin-right: 0px;
          margin-bottom: 30px;
          text-align: center;
          img{
            opacity: 1;
          }
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
    #features {
      padding: 0px 10px;
      margin-bottom: 50px;
      .section-head {
        .section-title {
          text-align: center;
        }
      }
      .section-body {
        padding: 0px 10px;
        .feature-item {
          width: 100%;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
    .about-area {
      padding: 0px 10px;
      flex-direction: column;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 50px;
      }
      .section-head {
        .about-content {
          text-align: center;
          .section-title {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
      .section-body {
        .about-image {
          img {
            width: 30rem;
            height: 15rem;
          }
        }
      }
    }
    #facts {
      padding: 0px 10px;
      flex-direction: column;
      .part-one {
        padding: 0px 10px;
        .video-content {
          .video-wrapper {
            .video-image {
              img {
                height: 18rem;
              }
            }
          }
        }
      }
      .part-two {
        flex-wrap: wrap;
        .counter-wrapper {
          .counter-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .section-title {
              display: flex;
              align-items: center;
              flex-direction: column;
            }
            p.text {
              text-align: center;
            }
          }
          .no-gutters {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .col-4 {
              width: 33%;
              .counter-items {
                position: absolute;
                left: 27px;
                top: 23px;
                display: flex;
                flex-direction: column;
                width: 100px;
                align-items: center;
              }
            }
          }
        }
      }
    }
    #plans {
      padding: 0px 10px;
      margin-bottom: 20px;
      .section-head {
        .section-title {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
      .section-body {
        padding: 0px 10px;
        .card {
          width: 100%;
          margin-bottom: 20px;
          margin-right: 0px;
          &:last-child {
            margin-bottom: 0px;
            margin-right: 0px;
            width: 100%;
          }
        }
      }
    }
    #upcoming {
      padding: 0px 10px;
      margin-bottom: 50px;
      .section-head {
        .section-title {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
      .section-body {
        .single-testimonial {
          width: 100%;
          margin-right: 0px;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0px;
          }
          .testimonial-image {
            img {
              width: 20rem;
              height: 10rem;
            }
          }
          .testimonial-text {
            h6 {
              text-align: center;
            }
          }
        }
      }
    }
    #blog {
      padding: 0px 10px;
      margin-bottom: 30px;
      .section-head {
        margin-bottom: 20px;
      }
      .section-body {
        flex-direction: column;
        padding: 0px 10px;
        .single-blog {
          width: 100%;
          margin-right: 0px;
          margin-bottom: 10px;
          &:last-child {
            margin-bottom: 0px;
          }
          .blog-image {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 13rem;
              height: 10rem;
            }
          }
        }
      }
    }
    #footer {
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .part-one {
        display: flex;
        justify-content: center;
        .subscribe-area {
          max-width: 90%;
          padding: 10px;

          .subscribe-content {
            margin-bottom: 20px;
          }
        }
      }
      .part-two {
      }
      .container {
      }
    }
  }
}
