.menu-init-page {
  background-color: #12a583;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .restaurant-detail {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
    z-index: 999;
    .logo-container {
      margin-bottom: 15px;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
    }
    form {
      overflow-y: auto;
      max-height: 400px;
      width: 100%;
      .select-box {
        margin-bottom: 10px;
      }
      .form-field .input-icon {
        padding-left: 10px;
      }
      .mandatory-field{
        color: red;
        font-size: 14px;
      }
      .form-field{
        textarea{
          width: 100%;
        }
      }
    }
  }
}
