<style>
    .g-cols {
        padding: 10px;
        justify-content: flex-start;
    }
    
    h2 {
        color: #132753;
        font-weight: 300;
        font-size: 30px;
        text-align: center;
    }
    
    .client-img-block {
        min-height: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .client-img-block:hover {
        background-color: white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
        transition: 0.7s all;
    }
    
    .client-img-block img {
        max-width: 200px;
        height: 104px;
    }
    
    @media screen and (max-width: 1024px) {
        .g-cols.offset_none {
            justify-content: flex-start;
            display: flex;
            flex-wrap: wrap;
        }
    }
</style>
<div class="nutrical-platform">
    <div ng-include="'views/header.html'"></div>
    <div class="container">
        <h2>Our Customers</h2>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="Acai & Co">
                <a href="https://acaiandco.com/" class="client-img-block" target="_blank">
                    <img src="/images/acai-and-co.png" alt="Acai & Co">
                </a>
            </div>
            <div class="one-fourth" title="This is BB">
                <a href="https://www.facebook.com/BBDIFC/" class="client-img-block" target="_blank">
                    <img src="/images/bb.png" alt="This is BB">
                </a>
            </div>
            <div class="one-fourth" title="Plant Power">
                <a href="https://plantpowerdubai.com/" class="client-img-block" target="_blank">
                    <img src="/images/plan-power.png" alt="Plant Power">
                </a>
            </div>
            <div class="one-fourth" title="Foodie Brands">
                <a href="https://www.foodiebrands.com/" class="client-img-block" target="_blank">
                    <img src="/images/foodie-brands.png" alt="Foodie Brands">
                </a>
            </div>
        </div>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="Nourish">
                <a href="https://www.facebook.com/nourishuae/" class="client-img-block" target="_blank">
                    <img src="/images/nourish.png" alt="Nourish">
                </a>
            </div>
            <div class="one-fourth" title="Munch Box">
                <a href="https://www.munchbox.ae/" class="client-img-block" target="_blank">
                    <img src="/images/munch-box.png" alt="Munch Box">
                </a>
            </div>
            <div class="one-fourth" title="Eatwell">
                <a href="https://www.dubaieatwell.com/" class="client-img-block" target="_blank">
                    <img src="/images/eat-well.png" alt="Eatwell">
                </a>
            </div>
            <div class="one-fourth" title="Poke & Co">
                <a href="https://pokeandco.com/  " class="client-img-block" target="_blank">
                    <img src="/images/poke-and-co.png" alt="Poke & Co">
                </a>
            </div>
        </div>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="Wawan Muscle">
                <a href="#" class="client-img-block" target="_blank">
                    <img src="/images/wawan-muscle-icon.png" alt="Wawan Muscle">
                </a>
            </div>
            <div class="one-fourth" title="Heat cafe">
                <a href="https://www.instagram.com/heatcafe/?hl=en" class="client-img-block" target="_blank">
                    <img src="/images/heat-cafe-icon.png" alt="Heat cafe">
                </a>
            </div>
            <div class="one-fourth" title="Macros Rak">
                <a href="https://www.instagram.com/macrosae/?igshid=1ufb290sh7fo9" class="client-img-block" target="_blank">
                    <img src="/images/macros-rak-icon.png" alt="Macros Rak">
                </a>
            </div>
            <div class="one-fourth" title="The Club Abu dhabi">
                <a href="https://www.the-club.com/diningentertainment" class="client-img-block" target="_blank">
                    <img src="/images/the-club-abu-dhabi-icon.png" alt="The Club Abu dhabi">
                </a>
            </div>
        </div>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="Sausage Fabrique">
                <a href="https://www.instagram.com/sausagefabrique/?hl=en " class="client-img-block" target="_blank">
                    <img src="/images/sausage-fabrique-icon.png" alt="Sausage Fabrique">
                </a>
            </div>
            <div class="one-fourth" title="Energy Club">
                <a href="#" class="client-img-block" target="_blank">
                    <img src="/images/energy-club-icon.png" alt="Energy Club">
                </a>
            </div>
            <div class="one-fourth" title="Be Healthy">
                <a href="https://www.instagram.com/behealthy.dxb/" class="client-img-block" target="_blank">
                    <img src="/images/be-healthy-icon.png" alt="Be Healthy">
                </a>
            </div>
            <div class="one-fourth" title="Treat Gourment Catering Company">
                <a href="#" class="client-img-block" target="_blank">
                    <img src="/images/treat-gourment-catering-company-icon.png" alt="Treat Gourment Catering Company">
                </a>
            </div>
        </div>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="Hotel Indigo">
                <a href="https://www.hotelindigodubai.com/" class="client-img-block" target="_blank">
                    <img src="/images/hotel-indigo-icon.png" alt="Hotel Indigo">
                </a>
            </div>
            <div class="one-fourth" title="ZEROFAT">
                <a href="https://zerofat.ae/" class="client-img-block" target="_blank">
                    <img src="/images/zerofat-icon.png" alt="ZEROFAT">
                </a>
            </div>
            <div class="one-fourth" title="Diet Home">
                <a href="https://www.instagram.com/diethome.ae/?hl=en" class="client-img-block" target="_blank">
                    <img src="/images/diethome-icon.png" alt="Diet Home">
                </a>
            </div>
            <div class="one-fourth" title="Keto Goodies">
                <a href="https://ketogoodiesdubai.com/" class="client-img-block" target="_blank">
                    <img src="/images/keto-goodies-icon.png" alt="Keto Goodies">
                </a>
            </div>
        </div>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="Under 500">
                <a href="http://under500.com/" class="client-img-block" target="_blank">
                    <img src="/images/under-500-icon.png" alt="Under 500">
                </a>
            </div>
            <div class="one-fourth" title="Serves Gourmet">
                <a href="https://servesgourmet.com/" class="client-img-block" target="_blank">
                    <img src="/images/serves-gourmet-icon.png" alt="Serves Gourmet">
                </a>
            </div>
            <div class="one-fourth" title="Grow Healthy">
                <a href="https://growhealthy.com/" class="client-img-block" target="_blank">
                    <img src="/images/grow-healthy-icon.png" alt="Grow Healthy">
                </a>
            </div>
            <div class="one-fourth" title="Shape Restaurant">
                <a href="https://www.shaperestaurant.ae/" class="client-img-block" target="_blank">
                    <img src="/images/shape-restaurant-icon.png" alt="Shape Restaurant">
                </a>
            </div>
        </div>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="Wheat Fields">
                <a href="http://wheatfields.ae/" class="client-img-block" target="_blank">
                    <img src="/images/wheat-fields-icon.png" alt="Wheat Fields">
                </a>
            </div>
            <div class="one-fourth" title="The Retreat Palm Dubai">
                <a href="https://theretreatpalmdubai.com/" class="client-img-block" target="_blank">
                    <img src="/images/the-retreat-palm-dubai-icon.png" alt="The Retreat Palm Dubai">
                </a>
            </div>
            <div class="one-fourth" title="Lpm Restaurants">
                <a href="https://lpmrestaurants.com/dubai/" class="client-img-block" target="_blank">
                    <img src="/images/lpm-restaurants-icon.png" alt="Lpm Restaurants">
                </a>
            </div>
            <div class="one-fourth" title="Be Healthy Shj">
                <a href="https://www.instagram.com/behealthy.uae/" class="client-img-block" target="_blank">
                    <img src="/images/be-healthy-shj-icon.jpg" alt="Be Healthy Shj">
                </a>
            </div>
        </div>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="Dietlicious">
                <a href="https://www.instagram.com/dietlicious.uae/" class="client-img-block" target="_blank">
                    <img src="/images/dietlicious.jpg" alt="Dietlicious">
                </a>
            </div>
            <div class="one-fourth" title="The Bakery Express">
                <a href="https://thebakeryexpress.ae/" class="client-img-block" target="_blank">
                    <img src="/images/the-bakery-express.jpg" alt="The Bakery Express">
                </a>
            </div>
            <div class="one-fourth" title="Mamalu Kitchen">
                <a href="https://www.mamalukitchen.com/" class="client-img-block" target="_blank">
                    <img src="/images/mamalu.jpg" alt="Mamalu Kitchen">
                </a>
            </div>
            <div class="one-fourth" title="Yaumi">
                <a href="http://www.yaumi.com/" class="client-img-block" target="_blank">
                    <img src="/images/yaumi.jpg" alt="Yaumi">
                </a>
            </div>
        </div>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="Pizza Box">
                <a href="https://www.instagram.com/pizzaboxbychefsplay/" class="client-img-block" target="_blank">
                    <img src="/images/pizza-box.jpg" alt="Pizza Box">
                </a>
            </div>
            <div class="one-fourth" title="Ben's Farmhouse">
                <a href="https://www.bensfarmhouse.com/" class="client-img-block" target="_blank">
                    <img src="/images/bens-farmhouse.jpg" alt="Ben's Farmhouse">
                </a>
            </div>
            <div class="one-fourth" title="Healthy Life">
                <a href="https://www.instagram.com/healthylifebain.ad/" class="client-img-block" target="_blank">
                    <img src="/images/healthy-life.png" alt="Healthy Life">
                </a>
            </div>
            <div class="one-fourth" title="Qasr Diet">
                <a href="https://www.instagram.com/qasr_diet/" class="client-img-block" target="_blank">
                    <img src="/images/qasr-diet.png" alt="Qasr Diet">
                </a>
            </div>
        </div>
        <div class="g-cols offset_none">
            <div class="one-fourth" title="PMasala & Co">
                <a href="https://www.instagram.com/masalaandco/" class="client-img-block" target="_blank">
                    <img src="/images/masala-co.png" alt="PMasala & Co">
                </a>
            </div>
            <div class="one-fourth" title="Adnec">
                <a href="https://capitalhospitality.ae/" class="client-img-block" target="_blank">
                    <img src="/images/adnec.png" alt="Adnec">
                </a>
            </div>
            <div class="one-fourth" title="Healthy Farm">
                <a href="http://www.hfe.ae/" class="client-img-block" target="_blank">
                    <img src="/images/healthy-farm.png" alt="Healthy Farm">
                </a>
            </div>

        </div>

    </div>
    <div ng-include="'views/footer.html'"></div>
</div>