<footer class="footer">
    <div class="footer-detail">
        <div>
            <div class="one-fourth">
                <ul class="">
                    <li>For Users</li>
                    <li><a ui-sref="app.who_is_it_for">Food Manufacturer</a></li>
                    <li><a ui-sref="app.who_is_it_for">Food Brand</a></li>
                    <li><a ui-sref="app.who_is_it_for">Restaurant & Cafes</a></li>
                    <li><a ui-sref="app.who_is_it_for">Hospitality Company</a></li>
                    <li><a ui-sref="app.who_is_it_for">Meal Plan & Food Delivery Company</a></li>
                    <li><a ui-sref="app.who_is_it_for">Food Labs</a></li>
                    <li><a ui-sref="app.who_is_it_for">Nutritionist / Personal Trainers</a></li>
                    <li><a ui-sref="app.who_is_it_for">Cloud Kitchens</a></li>
                    <li><a ui-sref="app.customers">Hotels</a></li>
                </ul>
            </div>
            <div class="one-fourth">
                <ul>
                    <li>For Business Activities</li>
                    <li class="pointer" ng-click="signupModal()">Create Nutrition Label</li>
                    <li class="pointer" ng-click="signupModal()">Analyse recipes & dishes</li>
                    <li class="pointer" ng-click="signupModal()">Develop new food products</li>
                    <li class="pointer" ng-click="signupModal()">Recipe experimentation</li>
                    <li class="pointer" ng-click="signupModal()">Meal Planning</li>
                    <li class="pointer" ng-click="signupModal()">Menu Management</li>
                    <li class="pointer" ng-click="signupModal()">Recipe & Food Costing</li>
                    <li class="pointer" ng-click="signupModal()">Contactless QR Code Menu</li>
                    <li class="title-text"><a ui-sref="app.blogs">Blog</a></li>
                    <li class="title-text"><a ui-sref="app.customers">Customers & Partners</a></li>
                    <li class="title-text"><a ui-sref="app.press">Press Release</a></li>
                </ul>
            </div>
        </div>

        <div>
            <div class="one-fourth">
                <ul class="footer-contact-info">
                    <li>Contact Information</li>
                    <li>A: Dubai, UAE</li>
                    <li>W: www.nutrical.co</li>
                    <li>P: +971 4 3235 228 / 229</li>
                    <li>M: +971 54 9941190</li>
                    <li><a href="mailto:info@nutrical.co">E: info@nutrical.co</a></li>
                </ul>
                <div class="social-media-links">
                    <a href=" https://www.linkedin.com/company/34889191/admin/" target="_blank"><img src="images/linkedin-logo.svg" alt="LinkedIn"></a>
                    <a href="https://www.instagram.com/nutrical__/" target="_blank"><img src="images/insta-logo.svg" alt="Instagram"></a>
                    <a href="https://wa.me/971549941190" target="_blank"><img src="images/whatsapp-logo.svg" alt="Whatsapp"></a>
                </div>
            </div>
            <div class="one-fourth">
                <img src="images/nutrical-logo-white.svg"  alt="Nutrical" width="115px" height="50px">
                <p>NutriCal is a web-based <br/>software that facilitates<br/>businesses in the food<br/>industry to understand and</br> effectively communicate data</br>about their food.</p>
                <a ui-sref="app.privacy_policy" target="_blank" class="privacy-policy-text">Privacy Policy</a>
            </div>
        </div>
    </div>
    <div class="footer-note">Powered by <a class="footer-link" href="https://www.fitterfly.com/" title="Fitterfly Technologies Private Limited" target="_blank">Fitterfly</a></div>
</footer>