<style type="text/css">
    .pop-up {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        display: flex;
        z-index: 9999;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        top: unset;
        bottom: 0;
        flex-direction: column;
    }

    .popup-box {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.41);
        background-color: #ffffff;
        margin: 0 auto;
        padding: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        height: 60%;
        overflow: auto;
        transition: all 0.5s;
        transform: translate(0, 100vh);
    }

    .pop-up-pad {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .pop-up-content {
        text-align: center;
        flex: 1;
        overflow: auto;
        padding: 0px 20px 20px;
    }

    .pop-up-content .recipe-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .is-open .popup-box {
        transform: translate(0, 0);
    }

    .popup-bg {
        background: rgba(0, 0, 0, 0.7);
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        width: 100%;
    }

    .is-open .popup-bg {
        opacity: 1;
    }

    .pop-up-nav {
        margin-bottom: 20px;
        padding: 35px 35px 0px 35px;
        background: #edf8fd;
        box-shadow: 0 1px 0 #c3dde8;
        z-index: 9;
    }

    .pop-up-nav ul {
        display: flex;
        list-style-type: none;
    }

    .pop-up-nav ul li {
        margin-right: 20px;
        color: #47545b;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 10px;
        cursor: pointer;
    }

    .pop-up-nav ul li:last-child {
        margin-right: 0px;
    }

    .pop-up-nav .active {
        color: #15242D;
        font-weight: 700;
        border-bottom: 2px solid #15242D;
    }

    .pop-up-content .recipe-img-container img {
        max-height: 200px;
        border-radius: 10px;
        object-fit: contain;
        display: unset;
        width: unset !important;
    }

    .pop-up-content .empty-text {
        color: #d66614;
        font-size: 20px;
        margin-bottom: 0px;
    }
</style>
<div class="menu-container" ng-if="loader == false">
    <div class="menu-header">
        <div class="menu-header-pad">
            <div class="burger-icon"></div>
            <div class="name-tagline-div">
                <h4 class="restaurant-title" ng-bind="user.name"></h4>
                <span class="tagline" ng-bind="user.tagline"></span>
            </div>
            <div class="right-div"></div>
        </div>
    </div>
    <div class="menu-content">
        <div class="menu-bg-container">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <div class="numbertext">{{imageIndex + 1}}/{{sliderImages.length}}</div>
                    <img src="{{sliderImages[imageIndex]}}" style="width:100%">
                </div>
                <a class="prev arrow" ng-click="changeImage(-1)">&#10094;</a>
                <a class="next arrow" ng-click="changeImage(1)">&#10095;</a>
            </div>
        </div>
        <div class="menu-details">
            <div class="category-container">
                <a class="cat-name" ng-click="populateRecipes(cat, $index)" ng-repeat="cat in categories">
                    <div ng-class="{active: $index == selected}">{{cat.name}}</div>
                </a>
            </div>
            <div class="filter-container" style="display: none;">
                <div class="form-field">
                    <select ng-model="foodType" class="select-box">
                        <option value="" ng-if="!foodType">Select Type</option>
                        <option value="" ng-if="foodType">Clear Type</option>
                        <option ng-value="type.id" value="type.id" ng-repeat="type in foodTypes" ng-bind="type.name">
                        </option>
                    </select>
                </div>
            </div>
            <div class="recipe-container">
                <div class="recipe-item"
                    ng-repeat="recipe in recipes track by $index"
                    ng-click="showRecipeInfo(recipe.recipe_images, recipe.allergies, recipe.meal_types)">
                    <div class="recipe-image-container">
                        <img src="{{recipe.recipe_images.length > 0 ? recipe.recipe_images[0] : '/images/default-food-icon.svg'}}">
                    </div>
                    <div class="recipe-details">
                        <div class="recipe-name-container">
                            <h5 ng-bind="recipe.name"></h5>
                            <div class="img-cotainer">
                                <img src="/images/veg-icon.svg" ng-if="recipe.recipe_type == 1">
                                <img src="/images/non-veg-icon.svg" ng-if="recipe.recipe_type == 2">
                                <img src="/images/eggitarian-icon.svg" ng-if="recipe.recipe_type == 3">
                                <span class="jain-icon" ng-if="recipe.is_jain">(J)</span>
                            </div>
                        </div>
                        <span class="price">{{recipe.price}} {{recipe.currency}}</span>
                        <p ng-bind="recipe.ingredients_info"></p>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>
    <div class="pop-up" ng-class="{'is-open' : popupShow}" ng-show="popupShow">
        <div class="popup-bg" ng-click="closePopup()">
        </div>
        <div class="popup-box">
            <div class="pop-up-pad">
                <div class="pop-up-nav">
                    <ul>
                        <li class="active" ng-click="popContentToggle('images')">Images</li>
                        <li ng-click="popContentToggle('facts')">Other Information</li>
                    </ul>
                </div>
                <div class="pop-up-content">
                    <div ng-if="!images">
                        <div class="detail-container">
                            <h4>Contains</h4>
                            <div class="item-container">
                                <span ng-repeat="allergy in allergies">{{allergy}}</span>
                            </div>
                        </div>
                        <div class="detail-container">
                            <h4>Meal Types</h4>
                            <div class="item-container">
                                <span ng-repeat="mealType in mealTypes">{{mealType}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="recipe-img-container" ng-if="images">
                        <h1 class="empty-text" ng-if="recipeImages.length == 0">Images not available!</h1>
                        <div class="container">
                            <div class="hero-banner">
                                <div class="owl-carousel owl-theme" id="slide-list">
                                    <div class="banner" ng-repeat="img in recipeImages">
                                        <img src="{{img}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader-container" ng-if="loader == true">
    <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
    </div>
    <div class="powered-by-text">
        <h5>Powered by Food Formula</h5>
    </div>
</div>