<style type="text/css">
    .pop-up {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        display: flex;
        z-index: 9999;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        top: unset;
        bottom: 0;
        flex-direction: column;
    }

    .popup-box {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.41);
        background-color: #ffffff;
        margin: 0 auto;
        padding: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        height: 60%;
        overflow: auto;
        transition: all 0.5s;
        transform: translate(0, 100vh);
    }

    .pop-up-pad {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .pop-up-content {
        text-align: center;
        flex: 1;
        overflow: auto;
        padding: 0px 20px 20px;
    }

    .pop-up-content .recipe-img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .is-open .popup-box {
        transform: translate(0, 0);
    }

    .popup-bg {
        background: rgba(0, 0, 0, 0.7);
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        width: 100%;
    }

    .is-open .popup-bg {
        opacity: 1;
    }

    .pop-up-nav {
        margin-bottom: 20px;
        padding: 35px 35px 0px 35px;
        background: #edf8fd;
        box-shadow: 0 1px 0 #c3dde8;
        z-index: 9;
    }

    .pop-up-nav ul {
        display: flex;
        list-style-type: none;
    }

    .pop-up-nav ul li {
        margin-right: 20px;
        color: #47545b;
        font-size: 15px;
        font-weight: 400;
        padding-bottom: 10px;
        cursor: pointer;
    }

    .pop-up-nav ul li:last-child {
        margin-right: 0px;
    }

    .pop-up-nav .active {
        color: #15242D;
        font-weight: 700;
        border-bottom: 2px solid #15242D;
    }

    .pop-up-content .recipe-img-container img {
        max-height: 200px;
        border-radius: 10px;
        object-fit: contain;
        display: unset;
        width: unset !important;
    }

    .pop-up-content .empty-text {
        color: #d66614;
        font-size: 20px;
        margin-bottom: 0px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 65px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-family: Gotham;
        color: #818181;
        display: block;
        transition: 0.3s
    }

    .sidenav a:hover,
    .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 60px;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    :root {
        --primary-color: #ffffff;
        --secondary-color: #ffffff;
    }

    .menu-container .menu-header {
        background-color: var(--primary-color);
    }

    .menu-container .menu-content .menu-details .category-container .cat-name div.active {
        background-color: var(--primary-color);
    }

    .menu-container .menu-content .menu-details .recipe-container .recipe-item .recipe-details span.price {
        color: var(--primary-color);
    }

    .menu-container .pop-up .pop-up-content.order-container .order-item {
        border-bottom: 1px solid var(--primary-color);
    }

    .menu-container .pop-up .pop-up-content .detail-container .item-container span {
        background-color: var(--primary-color);
    }

    .menu-container .order-icon-float.active {
        background-color: var(--primary-color);
    }

    .menu-container .menu-content .menu-details .category-container .cat-name div {
        color: var(--secondary-color);
    }

    .menu-container .menu-content .menu-details .filter-container {
        border: 2px solid var(--secondary-color);
    }

    .menu-container .menu-content .menu-details .recipe-container .recipe-item .recipe-details .recipe-name-container h5 {
        color: var(--secondary-color);
    }

    .menu-container .pop-up .pop-up-content.order-container .order-item .recipe-detail h5 {
        color: var(--secondary-color);
    }

    .menu-container .pop-up .pop-up-content .detail-container h4 {
        color: var(--secondary-color);
    }

    .menu-container .order-icon-float{
        background-color: var(--secondary-color);
    }

    .loader-container{
        background: var(--primary-color);
    }

    .btn{
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }

    .btn:hover{
        background-color: var(--secondary-color);
        border: 1px solid #ffffff;
    }
</style>
<div class="menu-container" id="main" ng-if="loader == false">
    <div class="menu-header">
        <div class="menu-header-pad">
            <div class="burger-icon"><span onclick="openNav()"><img src="/images/menu.svg"></span></div>
            <div class="name-tagline-div">
                <div ng-if="hrLogo">
                    <img ng-src="{{hrLogo}}">
                </div>
                <h4 class="restaurant-title" ng-if="!hrLogo" ng-bind="user.name"></h4>
                <span class="tagline" ng-if="!hrLogo" ng-bind="user.tagline"></span>
            </div>
            <div class="right-div" ng-click="showItem()">
                <img src="/images/shopping-cart-icon.svg" width="30px" height="30px">
                <span class="item-count">{{orderItems.length}}</span>
            </div>
        </div>
    </div>
    <div class="menu-content">
        <div class="menu-bg-container">
            <div class="slideshow-container" ng-if="sliderImages.length > 0">
                <img ng-repeat="slide in sliderImages" class="slide slide-animation"
                    ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide}}" width="100%">
                <a class="prev arrow" ng-click="prevSlide()">&#10094;</a>
                <a class="next arrow" ng-click="nextSlide()">&#10095;</a>
            </div>
        </div>
        <div class="menu-details">
            <div class="filter-container">
                <div class="form-field">
                    <select ng-model="category" ng-change="populateRecipes(category, 0)" class="select-box">
                        <option value="" ng-if="!category">Select category</option>
                        <option value="" ng-if="category">See All Category</option>
                        <option ng-value="cat" value="cat" ng-repeat="cat in categories" ng-bind="cat.name">
                        </option>
                    </select>
                </div>
            </div>
            <div class="category-container">
                <a class="cat-name" ng-click="populateRecipes(cat, $index)"
                    ng-repeat="cat in categories | filter: (!!category || undefined) && {id: category.id}">
                    <div ng-class="{active: $index == selected}">{{cat.name}}</div>
                </a>
            </div>
            <div class="recipe-container">
                <div class="recipe-item" ng-repeat="recipe in recipes track by $index">
                    <div class="recipe-image-container">
                        <img
                            src="{{recipe.recipe_images.length > 0 ? recipe.recipe_images[0] : '/images/default-food-icon.svg'}}">
                    </div>
                    <div class="recipe-details">
                        <div class="recipe-name-container">
                            <h5>{{recipe.name}}{{recipe.alias ? (' / ' + recipe.alias) : ''}}</h5>
                            <div class="img-cotainer">
                                <img src="/images/veg-icon.svg" ng-if="recipe.recipe_type == 1">
                                <img src="/images/non-veg-icon.svg" ng-if="recipe.recipe_type == 2">
                                <img src="/images/eggitarian-icon.svg" ng-if="recipe.recipe_type == 3">
                                <span class="jain-icon" ng-if="recipe.is_jain">(J)</span>
                            </div>
                        </div>
                        <span class="price">{{recipe.price}} {{recipe.currency}}</span>

                        <div class="recipe-count-container">
                            <span ng-click="removeRecipe(recipe)" id="minus">-</span>
                            <input type="number" ng-model="recipe.quantity" ng-value="0" readonly />
                            <span ng-click="addRecipe(recipe)" id="plus">+</span>
                        </div>
                        <div style="text-align: right">
                            <a
                                ng-click="showRecipeInfo(recipe.recipe_images,recipe.allergies,recipe.mealTypes,recipe.ingredients_info)">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
    </div>

    <div class="order-icon-float" ng-click="getAllOrders()" ng-if="take_away && (customer.mobile_no || customer.email)">
        <img src="/images/order-icon.png">
    </div>

    <div class="pop-up" ng-class="{'is-open' : popupShow}" ng-show="popupShow">
        <div class="popup-bg" ng-click="closePopup()">
        </div>
        <div class="popup-box">
            <div class="pop-up-pad">
                <div class="pop-up-nav">
                    <ul>
                        <li class="active" ng-click="popContentToggle('images')">Images</li>
                        <li ng-click="popContentToggle('facts')">Other Information</li>
                    </ul>
                </div>
                <div class="pop-up-content">
                    <div ng-if="!images">
                        <div class="detail-container">
                            <h4>Description</h4>
                            <p>{{ingredients_info}}</p>
                        </div>
                        <div class="detail-container">
                            <h4>Contains</h4>
                            <div class="item-container">
                                <span ng-repeat="allergy in allergies">{{allergy}}</span>
                            </div>
                        </div>
                        <div class="detail-container">
                            <h4>Meal Types</h4>
                            <div class="item-container">
                                <span ng-repeat="mealType in mealTypes">{{mealType}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="recipe-img-container" ng-if="images">
                        <h1 class="empty-text" ng-if="recipeImages.length == 0">Images not available!</h1>
                        <div class="container">
                            <div class="hero-banner">
                                <div class="owl-carousel owl-theme" id="slide-list" style="display: block;">
                                    <div class="banner" ng-repeat="img in recipeImages">
                                        <img src="{{img}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $('li').click(function () {
                    $('li.active').removeClass('active');
                    $(this).addClass('active');
                });
            });
        </script>
    </div>

    <div class="pop-up" ng-class="{'is-open' : foodItemListPopUpShow}" ng-show="foodItemListPopUpShow">
        <div class="popup-bg" ng-click="closFoodItemListPopUpShow()">
        </div>
        <div class="popup-box">
            <div class="pop-up-pad">
                <div class="pop-up-nav">
                    <ul>
                        <li ng-class="{ 'active' : foodItemTab}" ng-click="tabShowHide('food-item')">Food items</li>
                        <li ng-click="tabShowHide('user-details')" ng-class="{ 'active' : !foodItemTab}"
                            ng-if="take_away">Details</li>
                    </ul>
                </div>
                <div ng-if="foodItemTab == true">
                    <div class="pop-up-content order-container">
                        <div ng-repeat="item in orderItems | unique: 'id'" class="order-item">
                            <div class="recipe-detail">
                                <h5>{{$index + 1}}. {{item.name}}{{item.alias ? (' / ' + item.alias) : ''}}</h5>
                                <div class="img-cotainer">
                                    <img src="/images/veg-icon.svg" ng-if="item.recipe_type == 1">
                                    <img src="/images/non-veg-icon.svg" ng-if="item.recipe_type == 2">
                                    <img src="/images/eggitarian-icon.svg" ng-if="item.recipe_type == 3">
                                    <span class="jain-icon" ng-if="item.is_jain">(J)</span>
                                </div>
                            </div>
                            <span> X {{getFoodItemCount(item.id)}}</span>
                        </div>
                    </div>
                    <div class="pop-up-footer order-container" ng-if="orderItems.length > 0 && take_away">
                        <button class="btn btn-icon" ng-click="tabShowHide('user-details')">Next</button>
                    </div>
                </div>
                <div ng-if="foodItemTab == false">
                    <form name="userForm" novalidate="" style="padding: 20px;">
                        <div class="form-field-set" ng-if="take_away">
                            <label>Name <sup class="mandatory-field">*</sup></label>
                            <div class="form-field">
                                <input type="text" placeholder="Enter your name" class="input-icon"
                                    ng-model="customer.name" name="name" required />
                            </div>
                        </div>
                        <div class="form-field-set" ng-if="take_away">
                            <label>Address <sup class="mandatory-field">*</sup></label>
                            <div class="form-field">
                                <textarea placeholder="Enter Address" style="width: 100%;" name="address"
                                    ng-model="customer.address" required></textarea>
                            </div>
                        </div>
                        <div class="form-field-set" ng-if="take_away">
                            <label>Email</label>
                            <div class="form-field">
                                <input type="email" placeholder="Enter Email" class="input-icon"
                                    ng-model="customer.email" name="email">
                            </div>
                        </div>
                        <div class="form-field-set" ng-if="take_away">
                            <label>Mobile number <sup class="mandatory-field">*</sup></label>
                            <div class="form-field">
                                <input type="number" placeholder="Enter Mobile Number" class="input-icon"
                                    ng-model="customer.mobile_no" name="mobile" required="">
                            </div>
                        </div>
                        <div class="form-footer">
                            <button type="submit" ng-click="generateOrder()" class="btn btn-icon">Place Order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="pop-up" ng-class="{'is-open' : orderListPopUpShow}" ng-show="orderListPopUpShow">
        <div class="popup-bg" ng-click="closeOrderListPopUpShow()">
        </div>
        <div class="popup-box">
            <div class="pop-up-pad">
                <div class="pop-up-nav">
                    <ul>
                        <li class="active">Order list</li>
                    </ul>
                </div>
                <div class="pop-up-content order-list-container">
                    <div ng-repeat="order in orders" class="order-card">
                        <div class="head">
                            <h3>{{order.status}}</h3>
                            <h5>{{order.total_price}} {{currency}}</h5>
                        </div>
                        <div class="card-body">
                            <span ng-repeat="recipe in order.recipes">{{recipe.quantity}} X {{recipe.name}}</span>
                        </div>
                        <div class="card-footer">
                            <span>Ordered On : {{order.order_created_at | date: 'medium'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script data-cfasync="false" type="text/javascript" src="https://www.dexpredict.com/a/display.php?r=5195595"></script>
</div>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="restaurant-info-container">
        <div class="logo-container">
            <img ng-src="{{user.logo}}">
        </div>
        <div class="contact-details">
            <div class="contact-item">
                <h3>Contact Us: </h3>
                <h5> <a href="tel:+{{user.country_code}}{{user.mobile_no}}">+{{user.country_code}}{{user.mobile_no}}</a>
                </h5>
            </div>
            <div class="contact-item" ng-if="user.address">
                <h3>Address: </h3>
                <h5><a>{{user.address}}</a></h5>
            </div>
            <div class="contact-item" ng-if="user.map_link">
                <iframe ng-src="{{trustSrc(user.map_link)}}" width="100%" style="border-radius: 10px;"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="loader-container" ng-if="loader == true">
    <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
    </div>
    <div class="powered-by-text">
        <h5>Powered by Food Formula</h5>
    </div>
</div>

<script type="text/javascript">
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>