<div class="nutrical-platform  how-it-works">
    <div ng-include="'views/header.html'"></div>
    <div class="container">
        <div class="cards">
            <div class="platforms-pad">
                <div class="g-cols offset_none mb60">
                    <div class="one-third">
                        <div class="steps-head">
                            <span class="number">1</span>
                            <span class="step">Log into the system</span>
                        </div>
                        <div class="card-middle"> 
                            <div class="card-block">
                                <img src="images/step-1.png" width="346px" height="340px" alt="Log into Account">      
                            </div>
                            <img src="images/right-arrow.png" alt="next step" title="next step">
                        </div>


                    </div>
                    <div class="one-third">
                        <div class="steps-head">
                            <span class="number">2</span>
                            <span class="step">Add the ingredients</span>
                        </div>
                        <div class="card-middle"> 
                            <div class="card-block">
                                <img src="images/step-2.png" width="346px" height="340px" alt="Log into Account">      
                            </div>
                            <img src="images/right-arrow.png" alt="next step" title="next step">
                        </div>
                    </div>
                    <div class="one-third">
                        <div class="steps-head">
                            <span class="number">3</span>
                            <span class="step">Input Ingredient Weight & Serving Size</span>
                        </div>
                        <div class="card-middle"> 
                            <div class="card-block">
                                <img src="images/step-3.png" width="346px" height="340px" alt="Log into Account">      
                            </div>
                            <!-- <img src="images/right-arrow.png" alt="next step" title="next step"> -->
                        </div>
                    </div>
                </div>
                <div class="g-cols offset_none">
                    <div class="one-third">
                        <div class="steps-head margin-b">
                            <span class="number">4</span>
                            <span class="step">Nutritional Facts are generated</span>
                        </div>
                        <div class="card-middle"> 
                            <div class="card-block">
                                <img src="images/step-4.png" width="346px" height="340px" alt="Log into Account">      
                            </div>
                            <img src="images/right-arrow.png" alt="next step" title="next step">
                        </div>
                    </div>
                    <div class="one-third digital-menus">
                        <div class="steps-head">
                            <span class="number">5</span>
                            <span class="step last-item">Publish Nutritional Facts on <i class="nutritinal-facts">
                                    Physical & Digital Menus | Social Media | Printed Labels
                                </i> </span>     
                        </div>
                        <div class="card-middle"> 
                            <div class="card-block">
                                <img src="images/step-5.png" width="346px" height="340px" alt="Log into Account">      
                            </div>
                            <img src="images/right-arrow.png" alt="next step" title="next step">
                        </div>
                    </div>
                    <div class="one-third digital-menus">
                        <div class="steps-head">
                            <span class="number">6</span>
                            <span class="step last-item">Dashboard <i class="nutritinal-facts">
                                    Manage Products and Recipes on the Dashboard
                                </i> </span>     
                        </div>
                        <div class="card-middle"> 
                            <div class="card-block">
                                <img src="images/step-6.png" width="346px" height="340px" alt="Log into Account">      
                            </div>
                            <img src="images/right-arrow.png" alt="next step" title="next step" class="last-arr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'views/footer.html'"></div>
</div>