<style type="text/css">

</style>
<div class="menu-init-page">
    <div class="restaurant-detail">
        <div class="logo-container">
            <img ng-src={{logo}}>
        </div>
        <form name="userForm" ng-submit="userForm.$valid && seeMenu()" novalidate="">
            <div class="form-field-set">
                <div class="form-field">
                    <input type="text" placeholder="Enter your name" class="input-icon" ng-model="formData.name"
                        name="name" required="">
                    <span ng-show="userForm.$submitted || userForm.name.$touched">
                        <span class="error-msg" ng-show="userForm.name.$error.required">Please enter
                            name!</span>
                    </span>
                </div>
            </div>
            <div class="form-field-set">
                <div class="form-field">
                    <textarea placeholder="Enter Address" name="address" ng-model="formData.address"
                        required></textarea>
                    <span ng-show="userForm.$submitted || userForm.address.$touched">
                        <span class="error-msg" ng-show="userForm.address.$error.required">Please enter
                            address!</span>
                    </span>
                </div>
            </div>
            <div class="form-field-set">
                <div class="form-field">
                    <input type="email" placeholder="Enter Email" class="input-icon" ng-model="formData.email"
                        name="email">
                </div>
            </div>
            <div class="form-field-set">
                <div class="form-field">
                    <input type="number" placeholder="Enter Mobile Number" class="input-icon"
                        ng-model="formData.mobile_no" name="mobile" required="">
                    <span ng-show="userForm.$submitted || userForm.mobile.$touched">
                        <span class="error-msg" ng-show="userForm.mobile.$error.required">Please
                            enter mobile!</span>
                    </span>
                </div>
            </div>
            <div class="form-field-set">
                <div class="form-field">
                    <select ng-model="formData.menuLanguage" name="language" class="select-box" required>
                        <option ng-value="" value="" ng-if="!formData.menuLanguage">Select Language</option>
                        <option value="{{language.id}}" ng-value="{{language.id}}" ng-repeat="language in languages">
                            {{language.name}}</option>
                    </select>
                    <span ng-show="userForm.$submitted || userForm.language.$touched">
                        <span class="error-msg" ng-show="userForm.language.$error.required">Please
                            select language!</span>
                    </span>
                </div>
            </div>
            <div class="form-field-set">
                <div class="form-field">
                    <select ng-model="formData.menuEntity" name="entity" class="select-box" required>
                        <option ng-value="" value="" ng-if="!formData.menuEntity">Select entity</option>
                        <option value="{{entity.id}}" ng-value="{{entity.id}}" ng-repeat="entity in entities">
                            {{entity.name}}</option>
                    </select>
                    <span ng-show="userForm.$submitted || userForm.entity.$touched">
                        <span class="error-msg" ng-show="userForm.entity.$error.required">Please
                            select entity!</span>
                    </span>
                </div>
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-icon">See Menu</button>
            </div>
        </form>
    </div>
</div>