<style>
    
    
    .nutrical-platform .platforms-pad .one-third {
        width: 33.3333%;
    }
    
    .platform-info {
        text-align: center;
    }
    
    .nutrical-platform .g-cols {
        display: flex;
        justify-content: space-between;
    }
    
    
    
    .mb40 {
        margin-bottom: 40px;
    }
    
    .nutrical-platform .g-cols {
        /* background: #fddcb98c; */
        padding: 40px 0px 0px 0px;
    }
    
    
</style>
<div class="nutrical-platform whoisit">
    <div ng-include="'views/header.html'"></div>
    <div class="container">
        <div class="platforms-pad">
            <div class="g-cols offset_none mb40">
                <div class="one-fourth">
                    <div class="mb40">
                        <div class="platform">
                            <img src="images/food-manufacturer.png" alt="Food Manufacturers" title="Food Manufacturars">
                        </div>
                        <div class="platform-info">
                            <span>Food Manufacturers & Brands</span>
                            <p class="platform-desc">Create Nutritional Labels &<br/>Streamline Product Development</p>

                            <div id="food-manu" class="show-more">
                                <p>
                                    Manage product development, formulations, ingredients and nutrition in one platform. Create new products using our extensive platform and ingredients database. Use our system to instantly and automatically generate accurate nutrition labels for your products to comply with legal requirements.
                                </p>
                            </div>
                            <div class="learn-more-links">
                                <a href="javascript:void(0);" class="learn-more" data-id="food-manu"> Learn More</a>
                                <a href="" ng-click="toggleSingupPopup()" class="text-link">Request a Demo</a>
                            </div>

                        </div>
                    </div>
                    <div class="mb40">
                        <div class="platform">
                            <img src="images/meal-plan.png" alt="Meal Plan" title="Meal Plan">
                        </div>

                        <div class="platform-info">
                            <span>Meal Plan & Delivery<br/>Companies</span>
                            <p class="platform-desc"> Enable your consumers with<br/>nutritional information they<br/>are looking for</p>

                            <div class="learn-more-links">
                                <!--<a href="" class="text-link"> Learn More</a>-->
                                <a href="" ng-click="toggleSingupPopup()" class="text-link" data-id="meal-plan">Request a Demo</a>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="one-fourth">
                    <div class="mb40">
                        <div class="platform">
                            <img src="images/restaurants.png" alt="Restaurants" title="Restaurants">
                        </div>
                        <div class="platform-info">
                            <span>Restaurants & Cafes</span>
                            <p class="platform-desc">Manage Menus & Conduct<br/>Nutrition Analysis on Recipes</p>
                            <div id="rest-cafe" class="show-more">
                                <p>
                                    Using NutriCal's all in one nutrition management system has benefits both on the business and consumer ends for restaurant owners. The system allows you to streamline and create transparency in terms of recipe creation and analysis by storing all information in a centralised location. The nutrition analysis on recipe and menu items allows you to showcase calories, protein, fats, carbohydrates and other nutrients on digital menus, physical menus and social media platforms for today's customer who likes to know their food.
                                </p>
                            </div>
                            <div class="learn-more-links">
                                <a href="javascript:void(0);" class="learn-more" data-id="rest-cafe"> Learn More</a>
                                <a href="" ng-click="toggleSingupPopup()" class="text-link" >Request a Demo</a>
                            </div>

                        </div>
                    </div> 
                    <div class="mb40" >
                        <div class="platform">
                            <img src="images/nutrtionists-pt.png" alt="Nutritionist and Personal Trainer" title="Nutritionist and Personal Trainer">
                        </div>
                        <div class="platform-info">
                            <span>Nutritionists & Personal<br/>Trainers</span>
                            <p class="platform-desc">Create diets and<br/>effective meal plans<br/>for your clients</p>
                            <div id="nutrition-pt" class="show-more">
                                <p>
                                    Helping clients achieve their health and fitness goals is not an easy task, use NutriCal to effectively manage your client's dietary requirements, plan their meals and personalise recommendations. Tracking meals has become the easier task now, we come a step prior and enable you to help your clients to cook and consume healthier versions of their favourite dishes.
                                </p>
                            </div>
                            <div class="learn-more-links">
                                <a href="javascript:void(0);" class="learn-more" data-id="nutrition-pt"> Learn More</a>
                                <a href="" ng-click="toggleSingupPopup()" class="text-link" >Request a Demo</a>
                            </div>

                        </div>
                    </div> 
                </div>
                <div class="one-fourth">
                    <div class="mb40">
                        <div class="platform">
                            <img src="images/food-labs.png" alt="food labs" title="food labs">
                        </div>
                        <div class="platform-info">
                            <span>Food Labs</span>
                            <p class="platform-desc">Speed up & cross verify<br/>nutrition analysis</p>
                            <div class="learn-more-links">
                                <a href="" ng-click="toggleSingupPopup()" class="text-link">Request a Demo</a>
                            </div>

                        </div>
                    </div>
                    <div class="mb40">
                        <div class="platform">
                            <img src="images/school-catering.png" alt="Meal Plan" title="Meal Plan">
                        </div>

                        <div class="platform-info">
                            <span>Schools & School Catering<br/>Companies</span>
                            <p class="platform-desc">Create a culture of healthy eating by<br/>spreading awareness about food<br/>and nutrition among young adults.</p>
                            <div id="school-catering" class="show-more">
                                <p>Schools and school catering companies define how the generation of tomorrow will eat. By analysing the nutrients in recipes and meals, NutriCal enables businesses to provide wholesome, healthy and balanced food options to children. The comprehensive centralised system helps manage recipe folios and tags for recipes such as specific diets (vegetarian, vegan etc) and allergens (peanut, dairy etc).</p>
                            </div>
                            <div class="learn-more-links">
                                <a href="javascript:void(0);" class="learn-more" data-id="school-catering"> Learn More</a>
                                <a href="" ng-click="toggleSingupPopup()" class="text-link" data-id="meal-plan">Request a Demo</a>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="one-fourth">
                    <div class="mb40">
                        <div class="platform">
                            <img src="images/cloud-kitchen.png" alt="cloud-kitchen" title="cloud-kitchen">
                        </div>
                        <div class="platform-info">
                            <span>Cloud Kitchens</span>
                            <p class="platform-desc">Conduct Nutritional Analysis<br/>on new and existing recipes</p>
                            <div class="learn-more-links">
                                <!--<a href="" class="text-link"> Learn More</a>-->
                                <a href="" ng-click="toggleSingupPopup()" class="text-link">Request a Demo</a>
                            </div>
                        </div>
                    </div>
                    <div class="mb40">
                        <div class="platform">
                            <img src="images/hospital-catering.png" alt="cloud-kitchen" title="cloud-kitchen">
                        </div>
                        <div class="platform-info">
                            <span>Hospitals & Hospital Catering<br/>Companies</span>
                            <p class="platform-desc">Every patient has unique dietary<br/>requirements, create and analyse<br/>meals as per their goal and health issue.</p>
                            <div id="hospital-catering" class="show-more">
                                <p>
                                    Diet plays a key role in managing the patient's health issues in the long run. Using NutriCal as a tool hospitals, clinics, doctors and other health practitioners can conduct detailed nutritional analysis to manage common diseases such as diabetes, hypertension, obesity, cholesterol etc. The centralised system and user friendly interface allows for better communication between departments and seamless workflow.
                                </p>
                            </div>
                            <div class="learn-more-links">
                                <a href="javascript:void(0);" class="learn-more" data-id="hospital-catering"> Learn More</a>
                                <a href="" ng-click="toggleSingupPopup()" class="text-link">Request a Demo</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="g-cols offset_default">
                     <div class="one-third">
                         <div class="card-block">
                             <div class="content-img">
                                 <img src="images/sample-img.svg" alt="Food Manufacturars" title="Food Manufacturars">
                             </div>
                             <div class="card-pad">
                                 <div class="content-info">
                                     <h3>Food manufactureres & brands</h3>
                                     <span class="content-info-sub-head">Create Nutritional Labels & Streamline Product Develpoment</span>
                                     <div class="card-links">
                                         <a href="" class="text-link" title="Learn more">Learn More</a>
                                         <a href="" class="text-link" title="Sign Up Now">Sign up now</a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="one-third">
                         <div class="card-block">
                             <div class="content-img">
                             <img src="images/sample-img.svg" alt="Restaurant & Cafes" title="Restaurant & Cafes">
                             </div>
                             <div class="card-pad">
                                 <div class="content-info">
                                     <h3>restaurant & cafes</h3>
                                     <span class="content-info-sub-head">Create Nutritional Labels & Streamline Product Develpoment</span>
                                     <div class="card-links">
                                         <a href="" class="text-link" title="Learn more">Learn More</a>
                                         <a href="" class="text-link" title="Sign Up Now">Sign up now</a>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="one-third">
                         <div class="card-block">
                             <div class="content-img">
                                 <img src="images/sample-img.svg" alt="Meal Plan" title="Meal Plan">
                             </div>
                             <div class="card-pad">
                                 <div class="content-info">
                                     <h3>Meal plan & delivery companies</h3>
                                     <span class="content-info-sub-head">Create Nutritional Labels & Streamline Product Develpoment</span>
                                     <div class="card-links">
                                         <a href="" class="text-link" title="Learn more">Learn More</a>
                                         <a href="" class="text-link" title="Sign Up Now">Sign up now</a>
                                     </div>   
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="g-cols offset_default">
                         <div class="one-third">
                             <div class="card-block">
                                 <div class="content-img">
                                     <img src="images/sample-img.svg" alt="Food Manufacturars" title="Food Manufacturars">
                                 </div>
                                 <div class="card-pad">
                                     <div class="content-info">
                                         <h3>Food manufactureres & brands</h3>
                                         <span class="content-info-sub-head">Create Nutritional Labels & Streamline Product Develpoment</span>
                                         <div class="card-links">
                                             <a href="" class="text-link" title="Learn more">Learn More</a>
                                             <a href="" class="text-link" title="Sign Up Now">Sign up now</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="one-third">
                             <div class="card-block">
                                 <div class="content-img">
                                 <img src="images/sample-img.svg" alt="Restaurant & Cafes" title="Restaurant & Cafes">
                                 </div>
                                 <div class="card-pad">
                                     <div class="content-info">
                                         <h3>restaurant & cafes</h3>
                                         <span class="content-info-sub-head">Create Nutritional Labels & Streamline Product Develpoment</span>
                                         <div class="card-links">
                                             <a href="" class="text-link" title="Learn more">Learn More</a>
                                             <a href="" class="text-link" title="Sign Up Now">Sign up now</a>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="one-third">
                             <div class="card-block">
                                 <div class="content-img">
                                     <img src="images/sample-img.svg" alt="Meal Plan" title="Meal Plan">
                                 </div>
                                 <div class="card-pad">
                                     <div class="content-info">
                                         <h3>Meal plan & delivery companies</h3>
                                         <span class="content-info-sub-head">Create Nutritional Labels & Streamline Product Develpoment</span>
                                         <div class="card-links">
                                             <a href="" class="text-link" title="Learn more">Learn More</a>
                                             <a href="" class="text-link" title="Sign Up Now">Sign up now</a>
                                         </div>   
                                     </div>
                                 </div>
                             </div>
                         </div>
                 </div> -->
            </div>
        </div>
    </div>
    <div ng-include="'views/footer.html'"></div>
</div>
 <script type="text/javascript">
        $(document).ready(function() {
           


            $('.learn-more').click(function(){

                if($(this).hasClass("active")){
                    $(".show-more").slideUp(300);

                    $(this).removeClass("active");
                    $(this).text("Learn More");
                    return false;
                }{
                    $(".show-more").slideUp(300);
                    $("#" + $(this).attr("data-id")).slideDown(600);
                    $('.learn-more').removeClass("active");
                    $('.learn-more').text("Learn More");
                    $(this).addClass("active");
                    $(this).text("Learn Less");

                    return false;
                }
            });


        })
    </script>